%html
  %head
    %title Sinatra
  %body
    %p Create a new user
    %form{:action => 'create', :method => 'post'}
      - unless !@errors
        %ul
        - @errors.each do |error|
          %li= error
      %input{:type => 'text', :name => 'login', :value => "Login Name"}
      %input{:type => 'text', :name => 'email', :value => "Email"}
      %input{:type => 'submit', :value => 'Submit'}